<a href="https://colab.research.google.com/github/YigitBCesur/Pandas-Time-Series/blob/main/TS_III_Simple_Returns_and_Log_Returns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf

In [ ]:
#@title Get the dates 30 days before and after from the current date
from datetime import date, timedelta

current_date = date.today().isoformat()
days_before = (date.today()-timedelta(days=30)).isoformat()
days_after = (date.today()+timedelta(days=30)).isoformat()

print("\nCurrent Date: ",current_date)
print("30 days before current date: ",days_before)
print("30 days after current date : ",days_after)

Current Date:  2023-07-10
30 days before current date:  2023-06-10
30 days after current date :  2023-08-09

In [ ]:
start=days_before
end=current_date
ticker='AAPL'

In [ ]:
#@title Getting Data
df=yf.download(tickers=ticker,start=start, end=end)['Close'].round(2)
df

[*********************100%***********************]  1 of 1 completed

Date
2023-06-12    183.79
2023-06-13    183.31
2023-06-14    183.95
2023-06-15    186.01
2023-06-16    184.92
2023-06-20    185.01
2023-06-21    183.96
2023-06-22    187.00
2023-06-23    186.68
2023-06-26    185.27
2023-06-27    188.06
2023-06-28    189.25
2023-06-29    189.59
2023-06-30    193.97
2023-07-03    192.46
2023-07-05    191.33
2023-07-06    191.81
2023-07-07    190.68
Name: Close, dtype: float64

In [ ]:
#@title What is shift()?
df.shift(1)    # move a day after

Date
2023-06-12       NaN
2023-06-13    183.79
2023-06-14    183.31
2023-06-15    183.95
2023-06-16    186.01
2023-06-20    184.92
2023-06-21    185.01
2023-06-22    183.96
2023-06-23    187.00
2023-06-26    186.68
2023-06-27    185.27
2023-06-28    188.06
2023-06-29    189.25
2023-06-30    189.59
2023-07-03    193.97
2023-07-05    192.46
2023-07-06    191.33
2023-07-07    191.81
Name: Close, dtype: float64

In [ ]:
#@title Simple Returns
simp_ret=df.pct_change().dropna()
simp_ret

Date
2023-06-13   -0.002612
2023-06-14    0.003491
2023-06-15    0.011199
2023-06-16   -0.005860
2023-06-20    0.000487
2023-06-21   -0.005675
2023-06-22    0.016525
2023-06-23   -0.001711
2023-06-26   -0.007553
2023-06-27    0.015059
2023-06-28    0.006328
2023-06-29    0.001797
2023-06-30    0.023102
2023-07-03   -0.007785
2023-07-05   -0.005871
2023-07-06    0.002509
2023-07-07   -0.005891
Name: Close, dtype: float64

In [ ]:
simp_ret.mean()

0.0022081317410230913

# **Log Returns**

Log Returns by dividing each price by the previous price and we take logarithm

In [ ]:
log_ret=np.log(df/df.shift(1)).dropna()   #divide the price by the previous price
log_ret

Date
2023-06-13   -0.002615
2023-06-14    0.003485
2023-06-15    0.011136
2023-06-16   -0.005877
2023-06-20    0.000487
2023-06-21   -0.005692
2023-06-22    0.016390
2023-06-23   -0.001713
2023-06-26   -0.007582
2023-06-27    0.014947
2023-06-28    0.006308
2023-06-29    0.001795
2023-06-30    0.022840
2023-07-03   -0.007815
2023-07-05   -0.005889
2023-07-06    0.002506
2023-07-07   -0.005909
Name: Close, dtype: float64

In [ ]:
log_ret.mean()

0.0021648722858377658

In [ ]:
100*np.exp(30*log_ret.mean())

#log returns times the number of time periods - 3 days

106.71015792395411

Average logarithmic return gives us the correct information whether our investment increased or decreased during the while period

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Question 3:

Assume that the average annual return (log returns) for a stock over a 4 years period is 4.2%. The initial Stock price was $100. How to calculate the final stock price at the end of the 4 years period?

In [ ]:
100 * np.exp(4*0.042)

118.29366106478108